.cart__wrapper {
    max-width: 1750px; /* Ограничиваем ширину контента */
  margin: 0 auto; /* Центрируем контент */
  padding: 0 20px; /* Отступы слева и справа */
}

.cart__header {
    padding-bottom: 100px;
}

.line {
	display: flex;
	justify-content: space-between;
	padding: 17px 0;
}

.hr {
	margin: 0;
	border: 1px solid #F1F2F3;
}


.text {
	color: white;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.price {
	color: white;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.total-count {
	color: #BEBEBE;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.checkout {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 70px;
}